<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/static/styles/style.css">
 
</head>

<body>
    {% include 'navbar.html' %}
    <div >
        <div class="VideoInicio">
            <video autoplay muted loop>
                <source src="/static/img/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="CapaInicio">
            <div class="Texto inicio">
                <p>Bienvenidos a Dessert Sacré</p>
                <h2> EL SABOR </h2>
                <h2> GLORIOSO</h2>
                <h2> EN UN </h2>
                <h2> BOCADO </h2>
                <p> Donde el Pecado se Funde en Nuestros Glaseados </p>
            </div>
            <div class="Foto inicio">
                <img src="..." alt="Imagen de inicio">
            </div>
        </div>
    </div>
</body>

</html>