<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="VideoInicio">
            <video autoplay muted loop>
                <source src="/static/img/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="Texto inicio">
            <p>Bienvenidos a Dessert Sacré</p>
            <h2> EL SABOR </h2>
            <h2> GLORIOSO</h2>
            <h2> EN UN </h2>
            <h2> BOCADO </h2>
            <p> Donde el Pecado se Funde en Nuestros Glaseados </p>
        </div>
    </body>
</html>
